## BUSINESS PROBLEM-1 - Lending Club Loans Data

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [33]:
# Importing the data
LoansData = pd.read_csv("C:\\Users\\ayirp\\Desktop\\DataAnalysis\\Python\\AnalytixLabs\\PythonCaseStudy\\Basic Statistics - Hypothesis Testing\\LoansData.csv")

# Displaying the data and checking their datatype
display(LoansData.head())
LoansData.info()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2499 non-null   float64
 1   Amount.Funded.By.Investors      2499 non-null   float64
 2   Interest.Rate                   2498 non-null   object
 3   Loan.Length                     2500 non-null   object
 4   Loan.Purpose                    2500 non-null   object
 5   Debt.To.Income.Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home.Ownership                  2499 non-null   object
 8   Monthly.Income                  2499 non-null   float64
 9   FICO.Range                      2498 non-null   object
 10  Open.CREDIT.Lines               2497 non-null   float64
 11  Revolving.CREDIT.Balance        2497 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 13  Employment.Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

In [34]:
#Assigning the correct column names of the data
LoansData.rename( {'Amount.Requested': 'Amt_Requested', 'Amount.Funded.By.Investors': 'Amt_Funded_By_Investors', 'Interest.Rate': 'Interest_Rate',
       'Loan.Length': 'Loan_Length_Month', 'Loan.Purpose': 'Loan_Purpose', 'Debt.To.Income.Ratio': 'Debt_To_Inc_Ratio',
       'Home.Ownership': 'Home_Ownership', 'Monthly.Income':'Monthly_Inc', 'FICO.Range':'FICO_Range', 'Open.CREDIT.Lines':'Open_CREDIT_Lines',
       'Revolving.CREDIT.Balance': 'Revolving_CREDIT_Bal' , 'Inquiries.in.the.Last.6.Months':'Inquiries_Last_6months',
       'Employment.Length':'Employment_Length'}, axis= 1 , inplace= True)

In [35]:
# Stripping the % sign and converting Interest.Rate into float
LoansData['Interest_Rate'] =  pd.to_numeric(LoansData.Interest_Rate.str.replace("%","") ,errors ='coerce')

LoansData.Debt_To_Inc_Ratio = LoansData.Debt_To_Inc_Ratio.str.replace("%", '').astype('float')

# loan length col
LoansData.Loan_Length_Month = LoansData.Loan_Length_Month.str.replace("months", '').astype('float')

LoansData.dtypes

Amt_Requested              float64
Amt_Funded_By_Investors    float64
Interest_Rate              float64
Loan_Length_Month          float64
Loan_Purpose                object
Debt_To_Inc_Ratio          float64
State                       object
Home_Ownership              object
Monthly_Inc                float64
FICO_Range                  object
Open_CREDIT_Lines          float64
Revolving_CREDIT_Bal       float64
Inquiries_Last_6months     float64
Employment_Length           object
dtype: object

In [40]:
# Checking for null values
LoansData.isnull().sum()

Amt_Requested               1
Amt_Funded_By_Investors     1
Interest_Rate               2
Loan_Length_Month           0
Loan_Purpose                0
Debt_To_Inc_Ratio           1
State                       0
Home_Ownership              1
Monthly_Inc                 1
FICO_Range                  2
Open_CREDIT_Lines           3
Revolving_CREDIT_Bal        3
Inquiries_Last_6months      3
Employment_Length          77
dtype: int64

In [41]:
# Dropping the null vales
LoansData.dropna( inplace= True)

### a. Interest rate is varied for different loan amounts (Less interest charged for high loan amounts)

In [47]:
### Interest Rate :Interest_Rate - 1 continuous variable
### Loam Amount  : Amt_Funded_By_Investors  - 1 continuous variable

# To determine the relationship between 2 Continuous variables ,we can use the Pearson's Co-efficient Correlation

# HYPOTHESIS


# 1) H0 = Intrest rate is not varied for different loan amounts , i.e Interest rate and loan amounts are independent
# 2) Ha = Intrest rate is varied for different loan amounts , i.e Interest rate and loan amounts are dependent
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform Pearson's Co-efficient Correlation Test

print("Performing the Pearson's Co-efficient Correlation Test")
display(stats.pearsonr(LoansData.Interest_Rate, LoansData.Amt_Funded_By_Investors))

print("The pvalue generated is 5.064e-63 , which is lesser than the assumed pvalue = 0.05. Hence, we REJECT the Null Hypothesis; i.e Interest rate and loan amounts are dependent ")

Performing the Pearson's Co-efficient Correlation Test

(0.3315955311036452, 5.064256950483673e-63)

The pvalue generated is 5.064 , which is greater than the assumed pvalue = 0.05. Hence, we ACCEPT the Null Hypothesis; i.e Interest rate and loan amounts are independent

### b. Loan length is directly effecting interest rate.

In [54]:
### Loan_Length_Month : 1 continuous variable
### Interest_Rate : 1 continuous variable 

# To determine the relationship between 2 Continuous variables ,we can use the Spearman’s Coefficient Correlation

# HYPOTHESIS


# 1) H0 = Loan Length is not directly affecting the Interest Rate , i.e Loan length and Interest rate are independent
# 2) Ha =  Loan Length is directly affecting the Interest Rate , i.e Loan length and Interest rate are dependent
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform Spearman’s Correlation Coefficient

display(stats.spearmanr(LoansData.Loan_Length_Month, LoansData.Interest_Rate))

print("The correlation generated is 0.3908 , which is positive (closer to 0 , so weak relationship) . A positive correlation means that as one variable increases, the other variable also tends to increase.")

SpearmanrResult(correlation=0.3908052595510681, pvalue=7.062041111844215e-89)

The correlation generated is 0.3908 , which is positive (closer to 0 , so weak relationship) . A positive correlation means that as one variable increases, the other variable also tends to increase.

### c. Interest rate varies for different purpose of loans

In [71]:
LoansData.head()

### Interest_Rate : 1 continuous variable
### Loan_Purpose : 1 categorical variable

# To determine the relationship between 1 continuous and 1 categorical variables ,we can use the F - Test / ANOVA Test

# HYPOTHESIS


# 1) H0 = Interest_Rate is same for different Loan_Purpose 
# 2) Ha = Interest_Rate is not same for different Loan_Purpose 
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform F - Test / ANOVA

different_loan_purposes = LoansData.Loan_Purpose.unique()
display("The different loan purposes are:",different_loan_purposes)

# getting loans for each loan purposes
s1 = LoansData.loc[ LoansData.Loan_Purpose == 'debt_consolidation', 'Interest_Rate' ]
s2 = LoansData.loc[ LoansData.Loan_Purpose == 'credit_card', 'Interest_Rate' ]
s3 = LoansData.loc[ LoansData.Loan_Purpose == 'other', 'Interest_Rate' ]
s4 = LoansData.loc[ LoansData.Loan_Purpose == 'moving', 'Interest_Rate' ]
s5 = LoansData.loc[ LoansData.Loan_Purpose == 'car', 'Interest_Rate' ]
s6 = LoansData.loc[ LoansData.Loan_Purpose == 'vacation', 'Interest_Rate' ]
s7 = LoansData.loc[ LoansData.Loan_Purpose == 'home_improvement', 'Interest_Rate' ]
s8 = LoansData.loc[ LoansData.Loan_Purpose == 'house', 'Interest_Rate' ]
s9 = LoansData.loc[ LoansData.Loan_Purpose == 'major_purchase', 'Interest_Rate' ]
s10 =LoansData.loc[LoansData.Loan_Purpose == 'educational', 'Interest_Rate' ]
s11 =LoansData.loc[LoansData.Loan_Purpose == 'medical', 'Interest_Rate' ]
s12 =LoansData.loc[LoansData.Loan_Purpose == 'wedding', 'Interest_Rate' ]
s13 =LoansData.loc[LoansData.Loan_Purpose == 'small_business', 'Interest_Rate' ]
s14 =LoansData.loc[LoansData.Loan_Purpose == 'renewable_energy', 'Interest_Rate' ]

display(stats.f_oneway(s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13,s14))

print("The pvalue generated is 2.7646e-14 , which is less when compared to the assumed pvalue ,0.05. Hence we REJECT the Null hypothesis. So, we can conclude that Interest_Rate is not same for different Loan_Purpose ")

'The different loan purposes are:'

array(['debt_consolidation', 'credit_card', 'other', 'moving', 'car',
       'vacation', 'home_improvement', 'house', 'major_purchase',
       'educational', 'medical', 'wedding', 'small_business',
       'renewable_energy'], dtype=object)

F_onewayResult(statistic=7.330838185919651, pvalue=2.7646672581411367e-14)

The pvalue generated is 2.7646e-14 , which is less when compared to the assumed pvalue ,0.05. Hence we REJECT the Null hypothesis. So, we can conclude that Interest_Rate is not same for different Loan_Purpose

### d. There is a relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [83]:
# Fetching the first few records
display(LoansData.head())
# Checking the different Home ownership values
display(LoansData.Home_Ownership.unique())
# Checking the datatypes for FICO scores and Home_Ownership
LoansData.dtypes

,Amt_Requested,Amt_Funded_By_Investors,Interest_Rate,Loan_Length_Month,Loan_Purpose,Debt_To_Inc_Ratio,State,Home_Ownership,Monthly_Inc,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Bal,Inquiries_Last_6months,Employment_Length
0,20000.0,20000.0,8.90,36.0,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12,36.0,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98,60.0,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99,36.0,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71,36.0,credit_card,18.78,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

array(['MORTGAGE', 'RENT', 'OWN', 'OTHER'], dtype=object)

Amt_Requested              float64
Amt_Funded_By_Investors    float64
Interest_Rate              float64
Loan_Length_Month          float64
Loan_Purpose                object
Debt_To_Inc_Ratio          float64
State                       object
Home_Ownership              object
Monthly_Inc                float64
FICO_Range                  object
Open_CREDIT_Lines          float64
Revolving_CREDIT_Bal       float64
Inquiries_Last_6months     float64
Employment_Length           object
dtype: object

In [86]:
# Changing the datatype of FICO_Range and Home_Ownership

LoansData['FICO_Range'] = LoansData['FICO_Range'].astype('category')
LoansData['Home_Ownership'] = LoansData['Home_Ownership'].astype('string')
LoansData.dtypes

Amt_Requested               float64
Amt_Funded_By_Investors     float64
Interest_Rate               float64
Loan_Length_Month           float64
Loan_Purpose                 object
Debt_To_Inc_Ratio           float64
State                        object
Home_Ownership               string
Monthly_Inc                 float64
FICO_Range                 category
Open_CREDIT_Lines           float64
Revolving_CREDIT_Bal        float64
Inquiries_Last_6months      float64
Employment_Length            object
dtype: object

In [90]:
### FICO_Range : 1 categorical variable
### Home_Ownership : 1 categorical variable

# To determine the relationship between 2 categorical variables ,we can use the Chi Square test

# HYPOTHESIS


# 1) H0 = There is no relationship between FICO scores and Home Ownership, i.e FICO_Range and Home_Ownership are independent
# 2) Ha = There is relationship between FICO scores and Home Ownership, i.e FICO_Range and Home_Ownership are dependent
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform Chi Square Test

FICO_home_Ownership = pd.crosstab(LoansData['FICO_Range'], LoansData['Home_Ownership'])

display(stats.chi2_contingency(FICO_home_Ownership))
print("The pvalue generated is 3.0875e-15, which is much lesser than the assumed pvalue 0.05. Hence, the Null hypothesis is REJECTED. And so we can conclude that There is a relationship between FICO scores and Home Ownership")

(269.7881202757335,
 3.087547281383599e-15,
 111,
 array([[2.29796933e+00, 1.03605470e-02, 3.91628678e-01, 2.30004144e+00],
        [1.37878160e+00, 6.21632822e-03, 2.34977207e-01, 1.38002487e+00],
        [4.59593867e-01, 2.07210941e-03, 7.83257356e-02, 4.60008288e-01],
        [1.83837547e+00, 8.28843763e-03, 3.13302942e-01, 1.84003315e+00],
        [5.42320763e+01, 2.44508910e-01, 9.24243680e+00, 5.42809780e+01],
        [6.34239536e+01, 2.85951098e-01, 1.08089515e+01, 6.34811438e+01],
        [7.67521757e+01, 3.46042271e-01, 1.30803978e+01, 7.68213842e+01],
        [7.39946125e+01, 3.33609615e-01, 1.26104434e+01, 7.40613344e+01],
        [7.21562370e+01, 3.25321177e-01, 1.22971405e+01, 7.22213013e+01],
        [5.88280149e+01, 2.65230004e-01, 1.00256942e+01, 5.88810609e+01],
        [6.20451720e+01, 2.79734770e-01, 1.05739743e+01, 6.21011189e+01],
        [6.71007045e+01, 3.02527973e-01, 1.14355574e+01, 6.71612101e+01],
        [5.69896395e+01, 2.56941567e-01, 9.71239121e+00, 5.70410278e+01],
        [6.02067965e+01, 2.71446332e-01, 1.02606714e+01, 6.02610858e+01],
        [4.91765437e+01, 2.21715707e-01, 8.38085371e+00, 4.92208869e+01],
        [4.22826357e+01, 1.90634065e-01, 7.20596768e+00, 4.23207625e+01],
        [4.96361376e+01, 2.23787816e-01, 8.45917944e+00, 4.96808952e+01],
        [4.18230419e+01, 1.88561956e-01, 7.12764194e+00, 4.18607542e+01],
        [4.32018235e+01, 1.94778284e-01, 7.36261915e+00, 4.32407791e+01],
        [2.98736013e+01, 1.34687111e-01, 5.09117281e+00, 2.99005387e+01],
        [2.29796933e+01, 1.03605470e-01, 3.91628678e+00, 2.30004144e+01],
        [2.48180688e+01, 1.11893908e-01, 4.22958972e+00, 2.48404476e+01],
        [2.75756320e+01, 1.24326564e-01, 4.69954414e+00, 2.76004973e+01],
        [2.02221301e+01, 9.11728139e-02, 3.44633237e+00, 2.02403647e+01],
        [2.06817240e+01, 9.32449233e-02, 3.52465810e+00, 2.07003730e+01],
        [1.47070037e+01, 6.63075010e-02, 2.50642354e+00, 1.47202652e+01],
        [7.81309573e+00, 3.52258599e-02, 1.33153751e+00, 7.82014090e+00],
        [1.01110651e+01, 4.55864070e-02, 1.72316618e+00, 1.01201823e+01],
        [1.19494405e+01, 5.38748446e-02, 2.03646913e+00, 1.19602155e+01],
        [7.81309573e+00, 3.52258599e-02, 1.33153751e+00, 7.82014090e+00],
        [9.19187733e+00, 4.14421881e-02, 1.56651471e+00, 9.20016577e+00],
        [5.97472027e+00, 2.69374223e-02, 1.01823456e+00, 5.98010775e+00],
        [5.51512640e+00, 2.48653129e-02, 9.39908827e-01, 5.52009946e+00],
        [5.05553253e+00, 2.27932035e-02, 8.61583092e-01, 5.06009117e+00],
        [3.67675093e+00, 1.65768753e-02, 6.26605885e-01, 3.68006631e+00],
        [2.29796933e+00, 1.03605470e-02, 3.91628678e-01, 2.30004144e+00],
        [4.59593867e-01, 2.07210941e-03, 7.83257356e-02, 4.60008288e-01],
        [4.59593867e-01, 2.07210941e-03, 7.83257356e-02, 4.60008288e-01]]))

The pvalue generated is 3.0875e-15, which is much lesser than the assumed pvalue 0.05. Hence, the Null hypothesis is REJECTED. And so we can conclude that There is a relationship between FICO scores and Home Ownership

## BUSINESS PROBLEM - 2 - Price Quotes By Pricing Experts

###  Assess if there is any difference in the average price quotes provided by Mary and Barry

In [99]:
# Importing the dataset

PriceQuotesData = pd.read_csv("C:\\Users\\ayirp\\Desktop\\DataAnalysis\\Python\\AnalytixLabs\\PythonCaseStudy\\Basic Statistics - Hypothesis Testing\\Price_Quotes.csv")
display(PriceQuotesData.head())

Barry_Price_Avg = PriceQuotesData.Barry_Price.mean()
Mary_Price_Avg = PriceQuotesData.Mary_Price.mean()

### Barry_Price_Avg : 1 Continuous Variable
### Mary_Price_Avg : 1 Continuous Variable

# To determine the relationship between 2 Continuous variables and we have samples given and 
# not the entire population we can use the T -Test

# HYPOTHESIS


# 1) H0 = There is no difference in the average price quotes provided by Mary and Barry
# 2) Ha = There is difference in the average price quotes provided by Mary and Barry
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform T- Test

print("Performing the T - Test")
display(stats.ttest_rel(PriceQuotesData.Barry_Price, PriceQuotesData.Mary_Price))

print(" The generated pvalue is 0.0284 , which is lesser than the assumed pvalue 0.05. Hence we REJECT the Null Hypothesisand we can conclude that there is difference in the average price quotes provided by Mary and Barry")

   Order_Number  Barry_Price  Mary_Price
0             1          126         114
1             2          110         118
2             3          138         114
3             4          142         111
4             5          146         129

Performing the T - Test

Ttest_relResult(statistic=2.521376510892349, pvalue=0.02840588045242053)

 The generated pvalue is 0.0284 , which is lesser than the assumed pvalue 0.05. Hence we REJECT the Null Hypothesisand we can conclude that there is difference in the average price quotes provided by Mary and Barry

## BUSINESS PROBLEM - 3:

### Q) To determine if the reengineering effort improved the  critical incidence rate.

In [102]:
TreatmentFacilityData = pd.read_csv("C:\\Users\\ayirp\\Desktop\\DataAnalysis\\Python\\AnalytixLabs\\PythonCaseStudy\\Basic Statistics - Hypothesis Testing\\Treatment_Facility.csv")

In [114]:

display(TreatmentFacilityData.Reengineer.unique())
TreatmentFacilityData.rename( {'VAR4': 'TRFF(%)', 'VAR5' : 'CI (%)'}, axis= 1 , inplace= True)

TreatmentFacilityData.head()

### Samples for each Reengineer
SamplePrior = TreatmentFacilityData.loc[TreatmentFacilityData.Reengineer == 'Prior', 'CI (%)']
SamplePost = TreatmentFacilityData.loc[TreatmentFacilityData.Reengineer == 'Post', 'CI (%)']

### HYPOTHESIS TESTING


# 1) H0 = There is no difference in the critical incidence rate based on the reengineer
# 2) Ha = There is improvement in the critical incidence rate based on the reengineer
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform T- Test

print("Performing the T - Test")
display(stats.ttest_ind(SamplePrior, SamplePost))

print("The pvalue generated is pvalue=0.120 , which is greater than the assumed pvalue 0.05; hence we ACCEPT the Null Hypothesis")

array(['Prior', 'Post'], dtype=object)

Performing the T - Test

Ttest_indResult(statistic=1.6279144253528646, pvalue=0.12091989189884149)

The pvalue generated is pvalue=0.120 , which is greater than the assumed pvalue 0.05; hence we ACCEPT the Null Hypothesis

## BUSINESS PROBLEM - 4

### BUSINESS PROBLEM: We will focus on the prioritization system. If the system is working, then high priority jobs, on average, should be completed more quickly than medium priority jobs, and medium priority jobs should be completed more quickly than low priority jobs. Use the data provided to determine whether this is, in fact, occurring.

In [6]:
PriorityAssessmentData = pd.read_csv("C:\\Users\\ayirp\\Desktop\\DataAnalysis\\Python\\AnalytixLabs\\PythonCaseStudy\\Basic Statistics - Hypothesis Testing\\Priority_Assessment.csv")

PriorityAssessmentData.head()

# HYPOTHESIS


# 1) H0 = Jobs are not getting done based on the priority system
# 2) Ha = Jobs are getting done based on the priority system
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform Spearman’s Correlation Coefficient

display(stats.spearmanr(PriorityAssessmentData.Priority, PriorityAssessmentData.Days))

print("The generated pvalue is value=0.6505 , which is more than the assumed pvalue ,i.e 0.05. Hen we FAIL TO REJECT the null hypothesis.")

SpearmanrResult(correlation=0.01791379155123633, pvalue=0.6505153120156153)

The generated pvalue is value=0.6505 , which is more than the assumed pvalue ,i.e 0.05. Hen we FAIL TO REJECT the null hypothesis.

## BUSINESS PROBLEM - 5 - Films

In [3]:
FilmsData = pd.read_csv("C:\\Users\\ayirp\\Desktop\\DataAnalysis\\Python\\AnalytixLabs\\PythonCaseStudy\\Basic Statistics - Hypothesis Testing\\Films.csv")

# Removing the column _rowstate_
FilmsData.pop('_rowstate_')
FilmsData.head()

,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1

### Q1) What is the overall level of customer satisfaction?

In [4]:
overall_satisfaction = FilmsData.groupby('Overall')[['Overall']].count()
overall_satisfaction = overall_satisfaction.rename(columns = {'Overall' : 'Count'})
overall_satisfaction['Prob'] = overall_satisfaction['Count'] / overall_satisfaction['Count'].sum()

display(overall_satisfaction)
print('The mentioned code for the scales are 1 = Excellent; 2 = Good; 3 = Average/Fair; 4 = Poor; 5 = Very Poor. And the received scales are mostle 1 and 2, which combined give us (46% + 48 %) 94% level of satisfaction')

         Count      Prob
Overall
1.0        151  0.460366
2.0        160  0.487805
3.0         12  0.036585
4.0          1  0.003049
5.0          4  0.012195

The mentioned code for the scales are 1 = Excellent; 2 = Good; 3 = Average/Fair; 4 = Poor; 5 = Very Poor. And the received scales are mostle 1 and 2, which combined give us (46% + 48 %) 94% level of satisfaction

### Q2) What factors are linked to satisfaction?

In [13]:
FilmsData.head()
# Sinage,Parking and Cleanliness is linked to the Overall satisfaction.
# scales coded as coded: 1 = Excellent; 2 = Good; 3 = Average/Fair; 4 = Poor; 5 = Very Poor

# 1 -- Sinage - 1 categorical variable and Overall - 1 categorical variable
# 2 --  Parking - 1 categorical variable and Overall - 1 categorical variable
# 3 -- Clean - 1 categorical variable and Overall - 1 categorical variable

# To determine the relationship between 2 categorical variables ,we can use the Chi Square test


#===================================================================================
# 1) -- Sinage - 1 categorical variable and Overall - 1 categorical variable 
# HYPOTHESIS


# 1) H0 = There is no relationship between Sinage and Overall satisfaction, i.e they are independent
# 2) Ha = There is relationship between Sinage and Overall satisfaction, i.e they are dependent
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform Chi Square Test

Sinage_Overall = pd.crosstab(FilmsData['Sinage'], FilmsData['Overall'])

display(stats.chi2_contingency(Sinage_Overall))
print('The pvalue generated is 6.476e-19 , which is lesser than the assumed pvalue of 0.05. Hence, we REJECT the Null hypothesis. So the Sinage and Overall satisfaction are dependent' )
print("************************************************************************************************")
#======================================================================================
# 2 --  Parking - 1 categorical variable and Overall - 1 categorical variable
# HYPOTHESIS


# 1) H0 = There is no relationship between Parking and Overall satisfaction, i.e they are independent
# 2) Ha = There is relationship between Parking and Overall satisfaction, i.e they are dependent
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform Chi Square Test

Parking_Overall = pd.crosstab(FilmsData['Parking'], FilmsData['Overall'])

display(stats.chi2_contingency(Parking_Overall))
print('The pvalue generated is 8.162e- ,40 which is lesser than the assumed pvalue of 0.05. Hence, we REJECT the Null hypothesis. So the Parking and Overall satisfaction are dependent' )
print("************************************************************************************************")
#======================================================================================
# 3 -- Clean - 1 categorical variable and Overall - 1 categorical variable
# HYPOTHESIS


# 1) H0 = There is no relationship between Clean and Overall satisfaction, i.e they are independent
# 2) Ha = There is relationship between Clean and Overall satisfaction, i.e they are dependent
# 3) CI = 95% ; pvalue = 0.05
# 4) Perform Chi Square Test

Clean_Overall = pd.crosstab(FilmsData['Clean'], FilmsData['Overall'])

display(stats.chi2_contingency(Clean_Overall))
print('The pvalue generated is 5.517e-19 which is lesser than the assumed pvalue of 0.05. Hence, we REJECT the Null hypothesis. So the Parking and Overall satisfaction are dependent' )
print("************************************************************************************************")
#======================================================================================

print("\n So the sinage,parking and clean are the factors that influence the overall satisfaction\n")

(124.81695331531306,
 6.47639805161236e-19,
 16,
 array([[5.18348624e+01, 5.52905199e+01, 4.14678899e+00, 3.45565749e-01,
         1.38226300e+00],
        [7.11009174e+01, 7.58409786e+01, 5.68807339e+00, 4.74006116e-01,
         1.89602446e+00],
        [2.20183486e+01, 2.34862385e+01, 1.76146789e+00, 1.46788991e-01,
         5.87155963e-01],
        [2.75229358e+00, 2.93577982e+00, 2.20183486e-01, 1.83486239e-02,
         7.33944954e-02],
        [2.29357798e+00, 2.44648318e+00, 1.83486239e-01, 1.52905199e-02,
         6.11620795e-02]]))

The pvalue generated is 6.476e-19 , which is lesser than the assumed pvalue of 0.05. Hence, we REJECT the Null hypothesis. So the Sinage and Overall satisfaction are dependent
************************************************************************************************

(229.4794365763204,
 8.162450437898108e-40,
 16,
 array([[6.18776758e+01, 6.51559633e+01, 4.91743119e+00, 4.09785933e-01,
         1.63914373e+00],
        [7.06513761e+01, 7.43944954e+01, 5.61467890e+00, 4.67889908e-01,
         1.87155963e+00],
        [1.33914373e+01, 1.41009174e+01, 1.06422018e+00, 8.86850153e-02,
         3.54740061e-01],
        [3.23241590e+00, 3.40366972e+00, 2.56880734e-01, 2.14067278e-02,
         8.56269113e-02],
        [1.84709480e+00, 1.94495413e+00, 1.46788991e-01, 1.22324159e-02,
         4.89296636e-02]]))

The pvalue generated is 8.162e- ,40 which is lesser than the assumed pvalue of 0.05. Hence, we REJECT the Null hypothesis. So the Parking and Overall satisfaction are dependent
************************************************************************************************

(125.17708834561675,
 5.517448379868074e-19,
 16,
 array([[6.64954128e+01, 7.00183486e+01, 5.28440367e+00, 4.40366972e-01,
         1.76146789e+00],
        [7.01896024e+01, 7.39082569e+01, 5.57798165e+00, 4.64831804e-01,
         1.85932722e+00],
        [1.10825688e+01, 1.16697248e+01, 8.80733945e-01, 7.33944954e-02,
         2.93577982e-01],
        [2.30886850e+00, 2.43119266e+00, 1.83486239e-01, 1.52905199e-02,
         6.11620795e-02],
        [9.23547401e-01, 9.72477064e-01, 7.33944954e-02, 6.11620795e-03,
         2.44648318e-02]]))

The pvalue generated is 5.517e-19 which is lesser than the assumed pvalue of 0.05. Hence, we REJECT the Null hypothesis. So the Parking and Overall satisfaction are dependent
************************************************************************************************

 So the sinage,parking and clean are the factors that influence the overall satisfaction

### Q3) What is the demographic profile of Film on the Rocks patrons?

In [26]:
### Demography on Gender
# Since the gender values are mixed, lets make them uniform.

def gender (x):
    if x.Gender == 'Male' :
        return '1'
    elif x.Gender == 'Female'  :
        return '0'
    elif x.Gender == '1'  :
        return '1'
    else :
        return '0'
    
#converting males to 1 and females to 0 
FilmsData.Gender = FilmsData.apply(gender, axis=1)

gender_demo = FilmsData.groupby("Gender")[["Gender"]].count()
gender_demo = gender_demo.rename( columns={'Gender': 'count'}).reset_index()
gender_demo["Probability"] = gender_demo["count"] / gender_demo["count"].sum()

display(gender_demo)
print("We have female = 213 and males = 117, i.e 64% of the audiance are Females")

  Gender  count  Probability
0      0    213     0.645455
1      1    117     0.354545

We have female = 213 and males = 117, i.e 64% of the audiance are Females

In [35]:
### Demography on Marital status

# Getting the count for the marital status
FilmsData.groupby("Marital_Status")[["Marital_Status"]].count()

# Since there are mixed values, we have to make them uniform

# Since the gender values are mixed, lets make them uniform.

def MaritalStatus (x):
    if x.Marital_Status == 'Married' :
        return '1'
    elif x.Marital_Status == 'Single'  :
        return '0'
    elif x.Marital_Status == 'Slngle'  :
        return '0'
    elif x.Marital_Status == '1'  :
        return '1'
    else :
        return '0'
    
#converting married to 1 and single to 0 
FilmsData.Marital_Status = FilmsData.apply(MaritalStatus, axis=1)

Marital_Status_demo = FilmsData.groupby("Marital_Status")[["Marital_Status"]].count()
Marital_Status_demo = Marital_Status_demo.rename( columns={'Marital_Status': 'count'}).reset_index()
Marital_Status_demo["Probability"] = Marital_Status_demo["count"] / Marital_Status_demo["count"].sum()

display(Marital_Status_demo)
print("We have married = 100 and single = 230, i.e 69% of the audiance are single")

  Marital_Status  count  Probability
0              0    230      0.69697
1              1    100      0.30303

We have married = 100 and single = 230, i.e 69% of the audiance are single

In [42]:
### Demography on Age

FilmsData.groupby("Age")[["Age"]].count()
### GIVEN patron’s age in years: 
# 1= 1-12; 
# 2 = 13-30; 
# 3 = 31-60; 
# 4 = 60+

Age_demo = FilmsData.groupby("Age")[["Age"]].count()
Age_demo = Age_demo.rename( columns={'Age': 'count'}).reset_index()
Age_demo["Probability"] = Age_demo["count"] / Age_demo["count"].sum()
display(Age_demo)
print("It is seen that 53% of the audiance are fromthe age group 13-30 and 35% are from the age group 31-60, which makes up the maority togrther")

   Age  count  Probability
0  1.0     26     0.079268
1  2.0    175     0.533537
2  3.0    117     0.356707
3  4.0     10     0.030488

It is seen that 53% of the audiance are fromthe age group 13-30 and 35% are from the age group 31-60, which makes up the maority togrther

In [45]:
### Demography on Income

FilmsData.groupby("Income")[["Income"]].count()
### GIVEN  patron’s annual household income: 
# 1 = Less than $50,000;
# 2 = $50 - $100,000; 
# 3 = $100,000+ 


Income_demo = FilmsData.groupby("Income")[["Income"]].count()
Income_demo = Income_demo.rename( columns={'Income': 'count'}).reset_index()
Income_demo["Probability"] = Income_demo["count"] / Income_demo["count"].sum()
display(Income_demo)
print("45% of the audiance are from in income group Less than $50,000, which is the majority")

   Income  count  Probability
0     1.0    142     0.452229
1     2.0     82     0.261146
2     3.0     90     0.286624

45% of the audiance are from in income group Less than $50,000, which is the majority

### Q4) In what media outlet(s) should the film series be advertised?

In [51]:
FilmsData.head()
# Scale foe Hear_About
# 1 = television;
# 2 =newspaper; 
# 3 = radio; 
# 4 = website; 
# 5 = word of mouth


Hear_About_demo = FilmsData.groupby("Hear_About")[["Hear_About"]].count()
Hear_About_demo = Hear_About_demo.rename( columns={'Hear_About': 'count'}).reset_index()
Hear_About_demo["Probability"] = Hear_About_demo["count"] / Hear_About_demo["count"].sum()
display(Hear_About_demo)
print("Is is seen that 4(website) = 12 % and 5(word of mouth) = 69.9% have the highes values and the audiance heard about the film series solely through word of mouth")

   Hear_About  count  Probability
0           1     22     0.068111
1         1,5      1     0.003096
2           2     12     0.037152
3         2,5      2     0.006192
4           3     14     0.043344
5         3,4      2     0.006192
6         3,5      1     0.003096
7           4     41     0.126935
8         4,5      1     0.003096
9           5    226     0.699690
10        5,4      1     0.003096

Is is seen that 4(website) = 12 % and 5(word of mouth) = 69.9% have the highes values and the audiance heard about the film series solely through word of mouth